/** GENERALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
        #32a093 0%, 
        #32a093 15%, 
        #dfe0d9 15%, 
        #dfe0d9 100% 
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    display: flex;
    background-color: #fff;
}

/** UTILITIES */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.content-center {
    justify-content: center;
    align-items: center;
}

/* MARGIN */
.mr-5 {
    margin-right: 5px;
}

/* PADDIGN */
.px-15 {
    padding: 0 15px;
}

/** ASIDEBAR */

.asidebar {
    background-color: #777;
    width: 35%;
    border-right: 1px solid #ccc;
}

/* header */
.aside-header {
    justify-content: space-between;
    padding: 10px;
    background-color: #ededed;
}

.avater-img {
    width: 30px;
    height: 30px;
}
.avater-img img {
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.option-area a {
    color: #bababa;
}

.option-area a:hover i {
    color: #666;
    transform: scale(1.05);
}

/* Notification area */
.aside-notification {
    padding: 10px 15px;
    background-color: #a2dffe;
    align-items: center;
}

.bell-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.bell-icon i {
    color: #a2dffe;
}

.aside-notification span {
    font-size: 12px;
}

.aside-notification a {
    font-size: 10px;
}


/** CHAT SECTION */

.chat-section {
    background-image: url(./img/mine.jpg);
    width: 65%;
}