/** GENERALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
        #32a093 0%, 
        #32a093 15%, 
        #dfe0d9 15%, 
        #dfe0d9 100% 
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    display: flex;
    background-color: #fff;
}

/** UTILITIES */

.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.content-center {
    justify-content: center;
    align-items: center;
}

/* MARGIN */
.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

/* PADDIGN */
.px-15 {
    padding: 0 15px;
}

/** ASIDE BAR */

.asidebar {
    width: 35%;
    border-right: 1px solid #ccc;
}

/* header */
.aside-header {
    height: 10%;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #ededed;
}

.avater-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.avater-img img {
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.option-area a {
    color: #bababa;
}

.option-area a:hover i {
    color: #666;
    transform: scale(1.05);
    transition: all 0.2s;
}

/* Notification area */
.aside-notification {
    padding: 10px 15px;
    background-color: #a2dffe;
    align-items: center;
}

.bell-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.bell-icon i {
    color: #a2dffe;
}

.aside-notification span {
    font-size: 12px;
}

.aside-notification a {
    font-size: 10px;
}

/* Contact section */

.search-bar {
    padding: 5px;
    background-color: #fbfbfb;
}

.search-bar button {
    width: 45px;
    background-color: #fff;
    border: 0.5px solid #f7f7f7;
    cursor: pointer;
}

.search-bar button:hover {
    border: 1px solid #ccc;
    transition: border 0.2s;
}

.search-bar button i {
    color: #ddd;
    font-size: 12px;
}

.search-bar button:hover i {
    color: #666;
    transition: all 0.2s;
}

.search-bar input {
    flex-grow: 1;
    font-size: 12px;
    border: 1px solid #f7f7f7;
    padding: 5px 0 5px 10px;
}

::placeholder {
    color: #c1c4c6;
    opacity: 1;
}

input:focus,
input:hover {
    outline: none;
    border-bottom: 1px solid #ccc;
    transition: border-bottom 0.2s;
}

/* Contact area */

.contacts-list {
    list-style-type: none;
}

.contacts-list .contact {
    width: 100%;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #f7f7f7;
    font-weight: 600;
}

.contacts-list .contact:last-child {
    border-bottom: 0;
}

.contacts-list .contact .avatar-img {
    width: 45px;
    height: 45px;
}

.avatar-img img {
    height: 100%;
    border-radius: 50%;
}

.contacts-list .contact:hover {
    background-color: #eee;
    transition: all 0.3s;
}

.focussed {
    background-color: #eee;
}

/** CHAT SECTION */

.chat-section {
    width: 65%;
}

/* Chat HEADER */

.chat-header {
    height: 10%;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #ededed;
}

.contact-user .avatar-img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.contact-name {
    font-size: 14px;
}

.last-message {
    font-size: 10px;
    color: #bababa;
    padding-top: 3px;
}

.last-login {
    font-size: 12px;
}

/** MAIN chat */

.chat-container {
    flex-grow: 1;
    background-image: url(./img/mine.jpg);
    padding: 3% 13%;
}

.message {
    width: 48%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 3px 0;
    padding: 5px;
}

.message .text {
    max-width: 70%;
    align-self: center;
    font-size: 12px;
}

.message .data {
    height: 100%;
    position: relative;
    align-self: flex-end;
    justify-content: space-between;
}

.message .data .date {
    font-size: 7px;
}

.message .data .option-icon {
    align-self: flex-end;
    cursor: pointer;
}

.option-toggle {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 0;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    padding: 3px 5px;
    background: #fff;
    border-radius: 5px;
    display: none;
}

.option-toggle .delate {
    cursor: pointer;
}

.delate i {
    font-size: 12px;
    color: red;
}

.show {
    display: flex;
}

.chat-container .sent {
    background-color: #ddfabf;
    align-self: flex-end;
}

.chat-container .received {
    background-color: #fff;
}

/** Chat FOOTER */

.text-area {
    height: 8%;
    padding: 5px 0;
    background-color: #f4f0ed;
    align-items: center;
}

.text-area input {
    flex-grow: 1;
    height: 100%;
        border: 1px solid #f7f7f7;
    padding: 5px 0 5px 10px;
}

::placeholder {
    color: #c1c4c6;
    opacity: 1;
}

input:focus,
input:hover {
    outline: none;
    border-bottom: 1px solid #ccc;
    transition: border-bottom 0.2s;
}

.text-area a {
    padding: 0 25px;
    color: #bababa;
}

.text-area i {
    font-size: 16px;    
}

.text-area a:hover i {
    color: #666;
    transition: all 0.2s;
}